@font-face {
    font-family: 'regular';
    src: url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/* html{
    cursor: url(../images/1.png), auto;
    cursor: url(../images/2.png), auto;

} */

/* body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track { 
    background: #FEFAE0;
}
body::-webkit-scrollbar-thumb { 
    background-color: #a1a1a1;
    border-radius: 20px; 
    border: 3px solid #a1a1a1;
} */

.body{
   

    font-family: regular;
    margin: 0;
    padding: 0;
    background: #f3f5f6;
    overflow-x: hidden
}



.uhtop-bar{
    color: white;
    background-color: #1e2d7d;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border-bottom: 0.1px solid hsla(197, 100%, 82%, 0.433);
}

.uhshipping-info{
    padding: 10px;
}

.uhnav-bar{
    display: flex;
    align-items: center;
    color: white;
    background-color: #1e2d7d;
    height: 4.5rem;
    justify-content: space-between;
}

.uh-ul{
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.uh-ul a{
    text-decoration-line: none;
    color: white;
}

.uh-ul li a{
    padding: 0 20px;
}

.uh-header-logo{
    width: 175px;
}

.uh-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-left: 3.2rem;
    margin-right: 2rems;
}



p{
    font-family: regular;
    margin: 0px;
}

.uh-icons{
    margin-right: 2.6rem;
}

.uh-icons-cart{
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0px 12px;
}

/* dropdown */
.uh-user-menu {
    position: relative;
    display: inline-block;
}

.uh-profile-icon {
    cursor: pointer;
}

.uh-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    width: 250px;
    height: 260px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.uh-user-role {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.uh-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: regular;
}

.uh-btn.register{
    background-color: #1e2d7d;
}

.uh-btn.logout{
    background-color: #ff0548;
}

.uh-btn.login{
    background-color: rgb(72, 230, 36);;
}

.uh-btn:hover {
    opacity: 0.9;
}
i{
    color: white;
}