<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/6f47df0af3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a href="/Home Page/home.html" class="logo">
          <img class="header-logo" src="../../Home Page/Logo.webp" alt="logo" />
        </a>
        <div class="tabs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">All Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Admins</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Messages</a></li>
          </ul>
        </div>
        <div class="user-menu">
          <div class="profile-icon">
            <span class="icons-cart"><i class="fa-solid fa-user"></i> </span>
          </div>
          <div class="dropdown">
            <p class="user-role">admin</p>
            <button class="btn update-profile">Update Profile</button>
            <button class="btn register">Register</button>
            <button class="btn login">Login</button>
            <button class="btn logout">Logout</button>
          </div>
        </div>
        <script src="admin_header_script.js"></script>
      </div>
    </header>
  </body>
</html>
