<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homeadmin</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/6f47df0af3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a href="/Home Page/home.html" class="logo">
          <img class="header-logo" src="../../Home Page/Logo.webp" alt="logo" />
        </a>
        <div class="tabs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">All Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Admins</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Update Profile</a></li>
          </ul>
        </div>
        <div class="buttons">
          <a href=""><button>Login</button></a>
          <a href=""><button>Logout</button></a>
          <a href=""><button>Register</button></a>
        </div>
      </div>
    </header>
  </body>
</html>
