* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f3f5f6;
}

img {
  width: 100%;
  display: block;
}

.sm-title {
  font-family: "Roboto", sans-serif;
  padding: 9.6px 0;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.product {
  margin: 32px;
  position: relative;
  border: 1px solid rgb(156, 156, 160);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-content {
  background: white;
  padding: 48px 8px 32px 8px;
  cursor: pointer;
}

.product-img {
  background: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.485);
}

.product:hover .product-img {
  background: #2c15f5;
}

.product:hover .product-btns {
  opacity: 1;
}

.product-btns {
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  padding-bottom: 10px;
  background: white;
}

.btn-cart,
.btn-buy {
  border: 1px solid black;
  padding: 12.8px 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.btn-cart {
  background: #00badb;
  color: white;
}

.btn-cart:hover {
  background: #ee6307;
}

.btn-buy {
  background: #0223df;
  color: white;
}

.btn-buy:hover {
  background: #ee6307;
  color: #fff;
}

.product-info {
  background: white;
  padding: 32px;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #93a0bb;
}

.rating span {
  color: #ffc400;
}

.product-name {
  color: #082e7a;
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
}

.product-price {
  padding-top: 9.6px;
  padding-right: 9.6px;
  display: inline-block;
  color: #0090ff;
}

.product-price:first-of-type {
  text-decoration: line-through;
  color: #ff4b04;
}

.off-info .sm-title {
  background: #ff4b04;
  color: white;
  display: inline-block;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* Responsive Layout */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
